<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="4.58.0" targetFramework="net472" />
  <package id="Hime.Redist" version="3.4.0" targetFramework="net472" />
  <package id="NUnit" version="3.11.0" targetFramework="net471" />
  <package id="NUnit.DeepObjectCompare" version="2.0.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net472" />
  <package id="Piglet" version="1.4.0" targetFramework="net471" />
</packages>